* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px;
}
    .header {
        background-color: green;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }
    .main{
        background-color: lightgray;
        height: 100vh;
    }
        dialog {
            border-radius: 20px;
            padding: 20px;
            place-self: center;
        }
            form {
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
                padding: 20px;
            }


        .cards {
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, minmax(300px, 15%));
            padding: 20px;
        }
            .card {
                background-color: white;
                border: 1px solid black;
                border-radius: 20px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;
                padding: 20px;
            }
